<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <div class ="sidenav-header">
      <h1 class="logo">
        {{ title }}
      </h1>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <span *ngIf="!opened"(click)="sidenav.toggle()" class="fas fa-angle-right"></span>
    <span *ngIf="opened"(click)="sidenav.toggle()" class="fas fa-angle-left"></span>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
