<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <div class ="sidenav-header">
      <nav>
        <a routerLink="/packets">
          <h1 class="logo">
          {{ title }}
          </h1>
        </a>
      </nav>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <header *ngIf='this.mobileState' class='mobile-header'>
      <nav>
        <a routerLink="/packets">
          <h1 class="mobile-logo">
            {{ title }}
          </h1>
        </a>
      </nav>
    </header>
    <header *ngIf='!this.mobileState'>
      <span *ngIf="!opened"(click)="sidenav.toggle()" class="fas fa-angle-right"></span>
      <span *ngIf="opened"(click)="sidenav.toggle()" class="fas fa-angle-left"></span>
    </header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
