<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <div class ="sidenav-header">
      <h1 class="logo">
        {{ title }}
      </h1>
    </div>
    <mat-vertical-stepper #stepper>
      <mat-step [state]='buy' class='state-one'>
        <p>
          packet buy
        </p>
      </mat-step>
      <mat-step [state]='assemble' class='state-two'>
        <p>
          packet assembly
        </p>
      </mat-step>
      <mat-step [state]='newImages' class='state-three'>
        <p>
          image production
        </p>
      </mat-step>
      <mat-step [state]='retouch' class='state-four'>
        <p>
          image retouch
        </p>
      </mat-step>


    </mat-vertical-stepper>
  </mat-sidenav>
  <mat-sidenav-content>
    <span *ngIf="!opened"(click)="sidenav.toggle()" class="fas fa-angle-right"></span>
    <span *ngIf="opened"(click)="sidenav.toggle()" class="fas fa-angle-left"></span>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
