//vars

$card-width: 23%;
$card-width-mobile: 23%;
$card-height: 33vw;
$card-height-mobile: 33vw;

//colors
$white: #FCFCFD;
$light-grey: #EEE;
$light-blue: #F1F5F9;
$dark-green: #0B502D;
$darkest-green: #054927; //only pkt title
$navy: #000033;
$darkest-navy: #00001E;
$shadow: 1px 1px 14px 2px #C0C0C0;
$shadow-hover: 1px 1px 5px 2px $navy;
$border: solid $light-grey;

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $light-grey;
}

mat-sidenav {
  background-color: $light-blue;
  padding: 0;
  margin: 0;
  width: 18%;
  box-shadow: $shadow;
  .logo {
    color: $darkest-navy;
    margin-top: 2vw;
    font-size: 3.75vw;
    text-shadow: 2px 2px white;
    text-align: center;
    font-family: 'Titan One', cursive;
  }
}

mat-sidenav-content {
  padding: 3%;

}


