<div class='packet-new'>
  <div class='packet-new-modal'>
    <nav>
      <a routerLink='/packets'>
        X
      </a>
    </nav>
    <header class='packet-form-header'>
      <h3 class='packet-form-title'>
        Create a New Packet
      </h3>
    </header>
    <form class='packet-form' action=''>
      <input placeholder='designer name' type='text'>
      <input placeholder='season' type='text'>
      <input placeholder='designer abbreviation' type='text'>
      <input placeholder='buyer' type='text'>
      <input placeholder='assistant buyer' type='text'>
      <textarea placeholder='notes' type='text'>
        ... notes on the collection
      </textarea>
      <input class='submit-button' type='submit'>
    </form>
  </div>
</div>
