<div class='packet-list'>
  <header class='packet-list-header'>
    <h1 class='packet-list-title'>
      Packets
    </h1>
    <mat-chip-list class='filter-list-buttons'>
      <!--<mat-chip (click)='onPacketFilter()' [(ngModel)]="all" #filter='ngModel'>-->
      <mat-chip class='selected'>
        all
      </mat-chip>
      <!--<mat-chip (click)='onPacketFilter()' [(ngModel)]="trunkshows" #filter='ngModel'>-->
      <mat-chip>
        Trunkshows
      </mat-chip>
      <!--<mat-chip (click)='onPacketFilter()' [(ngModel)]="boutique" #filter='ngModel'>-->
      <mat-chip>
        Boutique
      </mat-chip>
    </mat-chip-list>
  </header>
  <mat-list class='packets'>
    <mat-list-item class='create-packet'>
      <h3>
        Create New Packet
      </h3>
      <i class='fa fa-plus'></i>
    </mat-list-item>
    <!--<li class='packet' *ngFor='let packet of Packets'>-->
    <mat-list-item>
      <h3 class='packet-list-name'>
        {{packet.title}}, {{packet.desc}}
        <mat-icon svgIcon="thumb-up"></mat-icon>

      </h3>
      <div class='list-edit-buttons'>
        <mat-chip-list>
          <mat-chip>
            BT
          </mat-chip>
          <mat-chip>
            TS
          </mat-chip>
        </mat-chip-list>
      </div>
    </mat-list-item>
  </mat-list>
</div>
