//proportions
$card-width: 23%;
$card-width-mobile: 23%;
$card-height: 32vw;
$card-height-mobile: 32vw;

//card div heights
$card-header: 5vw;
$card-img: 22vw;
$card-footer: 3.5vw;

//colors
$white: #FCFCFD;
$light-grey: #EEE;
$light-blue: #F1F5F9;
$dark-green: #0B502D;
$darkest-green: #054927; //only pkt title
$navy: #000033;
$darkest-navy: #00001E;

//borders & shadows
$shadow: 1px 1px 5px 1px #C0C0C0;
$shadow-hover: 1px 1px 10px 2px $darkest-navy;
$border: solid $light-grey;

//base fonts
$header-font: 'Baloo Paaji', cursive;
$base-font: 'Lato', sans-serif;

::ng-deep * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.card-container {
  overflow: auto;
  padding-right: 2vw;
}
//clearfix for card container - keep
.card-container::after {
  content: "";
  clear: both;
  display: table;
}

.item-card {
  background-color: $white;
  border-radius: .25vw;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: $card-width;
  min-height: $card-height;
  height: auto;
  margin: 1%;
  padding: 0px;
  display: inline-block;
  float: left;
  box-shadow: $shadow;
  &:hover {
    box-shadow: $shadow-hover;
  }

  .item-card::after {
    content: "";
    clear: both;
    display: table;
  }

  span.fa.fa-plus {// + icon
    color: $dark-green;
    line-height: $card-height;
    padding-left: 44%;//bring to middle
    font-size: 2vw;
  }
  .card-header {
    height: $card-header;
    font-family: $base-font;
    text-align: center;
    font-weight: 100;
    margin: 0;
    border-bottom: .5px $border;

    .card-icons {
      font-family: $base-font;
      font-size: 1.2vw;
      line-height: 3vw;
      i {
        padding-right: 10%;
      }
    }

    .mat-card-title {//category
      color: $dark-green;
      font-size: 1vw;
    }
  }

  .card-img {//first (preview) image
    height: $card-img;
    width: auto;
    img {
      width: 85%;
      float: right;
      margin: 7.5%;
    }
  }

  .card-footer {
    height: $card-footer;
    font-size: .75vw;
    font-family: $base-font;
    padding: 0 1vw;

  }


}

// --- Packet Details --- //

.packet-detail {
  max-width: 750px ;

  .packet-detail-header {
    font-size: 1.25vw;
    padding: 1vw 2vw 2vw 2vw;

    .packet-title {//designer name
      color: $darkest-green;
      font-weight: 100;
      font-family: $header-font;
      max-font-size: 34px;
      text-transform: uppercase;
      border-bottom: 1px solid #A0A0A0;
      margin-bottom: .5vw;

      a {//edit button
        text-transform: none;
        height: 3vw;
        line-height: 3vw;
        width: 3vw;
        margin: 0 0 1.5vw 2vw;
        font-family: $base-font;
        font-size: 1.2vw;
      }

    }

    .packet-desc {//season
      font-size: 1.5vw;
      font-family: $base-font;
      letter-spacing: .1vw;
      color: $navy;
    }

    .buyer, .asst-buyer, .notes {
      font-weight: 100;
      padding-top: .5vw;
      max-font-size: 16px;
    }

  }
}
