<div class='packet-detail'>
  <header class='packet-detail-header'>
    <h1 class='packet-title'>{{this.packet.title}}</h1>
    <h2 class='packet-desc'>{{this.packet.desc}}</h2>
    <h4 class='buyer'>Buyer: Princess Peach</h4>
    <h4 class='asst-buyer'>Assistant Buyer: Mario Luigi</h4>
    <h4 class='notes'>Collection Notes: inspiration from floral prints and ginger jars. bold primary colors and a focus on footwear this season.</h4>
  </header>
</div>

<section class='card-container'>
  <mat-card class='item-card'>
    <span class='fa fa-plus'></span>
  </mat-card>
  <mat-card *ngFor='let item of this.packet.items' class='item-card'>
    <mat-card-title>{{item.name}}</mat-card-title>
    <mat-card-subtitle>{{item.desc}}</mat-card-subtitle>
    <img mat-card-image src={{item.images[0]}} alt='image'/>
  </mat-card>
</section>
