/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;//card name

  // font-family: 'Rubik', sans-serif;
  // font-family: 'Source Sans Pro', sans-serif;//body
  // font-family: 'Sunflower', sans-serif;
  //font-family: 'Titan One', cursive;//logo
  // font-family: 'Quattrocento Sans', sans-serif;//meh
  // font-family: 'Oswald', sans-serif;
  // font-family: 'Signika', sans-serif;
  // font-family: 'Signika Negative', sans-serif;//body
  //font-family: 'Lato', sans-serif;
  //font-family: 'Baloo Paaji', cursive;
  //font-family: 'Lato', sans-serif;//card name
  //font-family: 'Baloo Paaji', cursive;//packet title
  //font-family: 'Fredoka One', cursive;//maybe
  //letter-spacing: 1px;
  //font-family: 'Overlock', cursive;//body
  //font-family: 'Nova Square', cursive;//dope
  //font-family: 'Modak', cursive;
  //font-family: 'Kenia', cursive;
}
