/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Baloo', cursive;
  // font-family: 'Baloo Tamma', cursive;
  // font-family: 'Baloo Bhaijaan', cursive;
  // font-family: 'Rubik', sans-serif;
  // font-family: 'Source Sans Pro', sans-serif;//body
  // font-family: 'Sunflower', sans-serif;
  font-family: 'Titan One', cursive;//logo
  // font-family: 'Quattrocento Sans', sans-serif;//meh
  // font-family: 'Oswald', sans-serif;
  // font-family: 'Signika', sans-serif;
  // font-family: 'Signika Negative', sans-serif;//body
}


// https://fonts.google.com/selection?selection.family
// =Baloo+Bhaijaan|Baloo+Bhaina|Baloo+Tamma|Black+Han+Sans|Coda
// |Fira+Sans+Extra+Condensed|Graduate|Karla|Krub|Lilita+One|Monda
// |Noto+Sans+SC|Oswald|Quattrocento+Sans|Roboto+Condensed|Share
// |Signika+Negative|Sintony|Source+Sans+Pro|Sunflower:300|Text+Me+One
// |Titan+One&category=Serif,Sans+Serif
