
// --- global mixins --- //
@mixin logo {
  font-family: 'Titan One', cursive;
  font-weight: 200;
  text-shadow: 2px 2px white;
}

@mixin BTorTS-icons {
  .mat-chip {
    top: 0;
    margin: 0 .5vw 0 0;
    padding: 0 1vw;
    background-color: white;
    color: $navy;
    border: .5px solid $light-grey;
  }

}
