//colors
$white: #FCFCFD;
$light-grey: #EEE;
$light-blue: #F1F5F9;
$green: #1CBC91;
$dark-green: #0B502D;
$darkest-green: #054927;
$navy: #000033;
$darkest-navy: #00001E;

//borders & shadows
$shadow: 1px 1px 5px 1px #C0C0C0;
$shadow-hover: 1px 1px 10px 2px $darkest-navy;
$border: solid $light-grey;
